doctype html
html
  head
    title Bienvenido
  body
    header
      h1 Santiago Antonio Marisca Velásquez
    div
      | Bienvenido a al consumo del webServices
      ul
        li(type='circle')
          a(href='http://localhost:8080/principal') Personajes
